/* annual reports start */
.section.annual-reports-wrapper .default-content-wrapper h2 {
    color: var(--orange);
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 28px;
    font-weight: 800;
    line-height: 42px;
    margin: 24px 0;
}

.section.annual-reports-wrapper .default-content-wrapper ul {
    margin-top: 16px;
}

.section.annual-reports-wrapper .default-content-wrapper ul>li {
    margin-bottom: 16px;
}

.section.annual-reports-wrapper .default-content-wrapper ul>li>a {
    background: var(--whitesmoke);
    border-radius: 4px;
    color: #333;
    display: block;
    font-family: Nunito-Regular, sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 20px 50px 20px 16px;
    position: relative;
}

.section.annual-reports-wrapper .default-content-wrapper ul>li>a:hover {
    background: var(--orange);
    color: var(--white);
    text-decoration: none;
}

.section.annual-reports-wrapper .default-content-wrapper ul>li>a::after {
    content: "";
    background-image: url('https://publish-p133703-e1305981.adobeaemcloud.com/content/dam/piramalfinance/company/stakeholders/pdf-icon.png');
    position: absolute;
    right: 24px;
    top: 35%;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    color: #333;
}

.section.annual-reports-wrapper .default-content-wrapper ul>li>a:hover::after {
    content: "";
    background-image: url('https://publish-p133703-e1305981.adobeaemcloud.com/content/dam/piramalfinance/company/stakeholders/pdf-white.png');
    position: absolute;
    right: 24px;
    top: 35%;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    color: #333;
}

@media screen and (max-width: 767px) {
    .section.annual-reports-wrapper .default-content-wrapper h2 {
        font-size: 18px;
        line-height: 27px;
        margin: 40px 0 14px;
    }

    .section.annual-reports-wrapper .default-content-wrapper ul {
        margin-top: 12px;
    }

    .section.annual-reports-wrapper .default-content-wrapper ul>li {
        margin-bottom: 12px;
    }
}

/* annual reports end */


/* offer documents start */

.section.offer-documents-wrapper .default-content-wrapper ul>li>p {
    background-color: #f8f8f8;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: block;
    display: flex;
    align-items: center;
    font-family: Nunito-Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
    padding: 20px 61px 20px 24px;
    position: relative;
}

.section.offer-documents-wrapper .default-content-wrapper ul>li:first-child > p {
    padding: 0;
}

.section.offer-documents-wrapper .default-content-wrapper ul>li>p>a{
    color: #333;
    margin: 0;
    border: unset;
    font-weight: 400;
    background-color: unset;
    border-radius: unset;
    font-family: Nunito-Regular, sans-serif;
    padding: 20px 61px 20px 24px;
    text-align: unset;
    width: 100%;
}

.section.annual-reports-wrapper .default-content-wrapper ul>li>p:hover,
.section.annual-reports-wrapper .default-content-wrapper ul>li>p:hover > a {
    background: var(--orange);
    color: var(--white);
    text-decoration: none;
}

.section.offer-documents-wrapper .default-content-wrapper ul>li>p::after {
    content: "";
    background-image: url('https://publish-p133703-e1305981.adobeaemcloud.com/content/dam/piramalfinance/company/stakeholders/download-icon.png');
    position: absolute;
    right: 24px;
    top: 35%;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    color: #333;
}

.section.offer-documents-wrapper .default-content-wrapper ul>li>p:hover::after {
    content: "";
    background-image: url('https://publish-p133703-e1305981.adobeaemcloud.com/content/dam/piramalfinance/company/stakeholders/download-icon-white.png');
    position: absolute;
    right: 24px;
    top: 35%;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    color: #333;
}

/* offer documents end */