/* Embedd Wrapper Start */

.section.embed-wrapper .default-content-wrapper h2 {
    color: var(--text-color);
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 32px;
}

.section.embed-wrapper .embed-wrapper .embed {
    margin: 0 auto;
    max-height: 458px;
    max-width: 1022px;
    position: relative;
    width: 100%;
}

.section.embed-wrapper .embed-wrapper .embed .embed-placeholder {
    position: unset;
}

.section.embed-wrapper .embed-wrapper .embed .embed-placeholder>picture>img {
    border-radius: 24px;
    height: 100%;
    max-width: 1022px;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: unset;
}

.section.embed-wrapper .embed-wrapper .embed .embed-placeholder .embed-placeholder-play>button {
    background-color: var(--white);
    cursor: pointer;
}

.section.embed-wrapper .embed-wrapper .embed .embed-placeholder .embed-placeholder-play>button::before {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 9px solid;
    top: 3px;
    left: 6px;
    color: var(--orange);
}

.section.embed-wrapper .embed-wrapper .embed>div {
    max-height: 458px;
    max-width: 1022px;
}

.section.embed-wrapper .embed-wrapper .embed>div>iframe {
    border-radius: 24px;
    height: 458px;
    width: 100% !important;
    max-height: 458px;
}


@media screen and (max-width: 767px) {
    .section.embed-wrapper .default-content-wrapper h2 {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 4px;
        margin-bottom: 20px;
    }

    .section.embed-wrapper .embed-wrapper .embed {
        min-height: 204px;
        max-height: 204px;
        max-width: 100%;
    }

    .section.embed-wrapper .embed-wrapper .embed>div {
        min-height: 204px;
    }

    .section.embed-wrapper .embed-wrapper .embed .embed-placeholder {
        min-height: 204px;
    }

    .section.embed-wrapper .embed-wrapper .embed .embed-placeholder>picture>img {
        object-fit: unset;
    }

    .section.embed-wrapper .embed-wrapper .embed>div>iframe {
        height: 204px;
        max-height: 204px;
        object-fit: unset;
    }

    .section.embed-wrapper .embed-wrapper .embed .embed-placeholder .embed-placeholder-play>button {
        width: 11px;
        height: 11px;
    }

    .section.embed-wrapper .embed-wrapper .embed .embed-placeholder .embed-placeholder-play>button::before {
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-left: 4px solid;
        top: 1.5px;
        left: 2.5px;
        height: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .section.embed-wrapper .embed-wrapper .embed .embed-placeholder>picture>img {
        object-fit: unset;
    }
}

/* Embedd Wrapper End */

/* verification Wrapper Start */

.section.details-verification-wrapper {
    display: grid;
    width: 100%;
    grid-auto-columns: 1fr;
    row-gap: 20px;
}

.section.details-verification-wrapper .teaserv2-wrapper {
    width: 100%;
    height: 100%;
}

.section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 168px;
    padding: 16px 32px;
    position: relative;
    border: 1px solid var(--coral);
    border-radius: 16px;
}

.section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image::after {
    background: var(--white);
    border-bottom: 1px solid var(--coral);
    border-right: 1px solid var(--coral);
    bottom: -15px;
    content: "";
    display: block;
    height: 28px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 28px;
}

.section.details-verification-wrapper .teaserv2-wrapper:last-child .teaserv2.block>a .bg-image::after {
    content: none;
}

.section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image .front-image {
    margin: 0 15px;
    flex-basis: 6.5%;
}

.section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image .front-image picture img {
    display: block;
    height: 68px;
    width: 68px;
}

.section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image .title {
    color: #333;
    flex-basis: 36.4%;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    padding: 0 5px 0 16px;
}

.section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image .title>p {
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
}

.section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image div:nth-child(5) {
    flex-basis: 63.6%;
    display: flex;
    align-items: center;
    border-left: 2px solid var(--solitude);
}

.section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image >div>ul {
    padding-left: 48px;
}

.section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image >div>ul>li {
    list-style-type: disc;
    color: #333;
    font-family: Nunito-Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a:hover {
    text-decoration: none;
}

@media screen and (max-width:767px) {
    .section.details-verification-wrapper {
        row-gap: 11px;
    }

    .section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image {
        padding: 16px;
        align-items: unset;
        flex-direction: column;
    }

    .section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image::after {
        bottom: -9px;
        height: 16px;
        width: 16px;
    }

    .section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image .front-image {
        margin: 0;
        position: absolute;
        top: 16px;
    }

    .section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image .title {
        flex-basis: 100%;
        font-size: 16px;
        line-height: 24px;
        padding: 4px 4px 16px 47px;
        width: 100%;
    }

    .section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image .front-image picture img {
        height: 31px;
        width: 31px;
    }

    .section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image >div>ul {
        padding-left: 40px;
    }

    .section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image >div>ul>li {
        font-size: 12px;
        line-height: 20px;
    }

    .section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image div:nth-child(5) {
        border-left: none;
        border-top: 2px solid var(--solitude);
        flex-basis: 100%;
        padding-top: 16px;
        width: 100%;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image .front-image picture img {
        height: 55px;
        width: 55px;
    }

    .section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image .front-image {
        margin: unset;
    }

    .section.details-verification-wrapper .teaserv2-wrapper .teaserv2.block>a .bg-image .front-image {
        flex-basis: 9.2%;
    }
}

/* verification Wrapper End */