.section.steps-for-apply .default-content-wrapper >h2{
    color: #000;
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 16px;
}
.section.steps-for-apply .default-content-wrapper >p{
    color: #000;
    display: block;
    font-family: Nunito-Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}
.section.steps-for-apply .default-content-wrapper >p >strong{
    margin-bottom: 8px;
    display: inline-block;
    color: #f26841;
    font-family: Nunito-Bold, sans-serif;
    font-size: 1pc;
    font-weight: 700;
    line-height: 24px;
    min-width: 53px;
}

@media screen and (max-width: 767px) {
    .section.steps-for-apply .default-content-wrapper >h2{
        font-size: 18px;
        line-height: 27px;
    }
}