.section.banner-carousel-wrapper .breadcrumb-wrapper{
    padding: 0 150px;
    background: transparent;
}
.section.banner-carousel-wrapper > .breadcrumb-wrapper > .breadcrumb.block > nav > a{
    color: #666;
    font-family: Nunito-Regular, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}
.section.banner-carousel-wrapper > .breadcrumb-wrapper > .breadcrumb.block > nav > a:hover{
    color: #f26841;
}
.section.banner-carousel-wrapper > .breadcrumb-wrapper > .breadcrumb.block > nav > a:last-child{
    color: #f26841;
    font-family: Nunito-Regular, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}
.section.banner-carousel-wrapper .breadcrumb-wrapper .breadcrumb-separator{
    padding: 0 16px;
}
.section.banner-carousel-wrapper .breadcrumb-wrapper .breadcrumb{
    padding-top: 10px;
}
@media screen and (max-width:767px){
    .section.banner-carousel-wrapper .breadcrumb-wrapper{
        padding: 0 16px;
    }
    .section.banner-carousel-wrapper .breadcrumb-wrapper .breadcrumb{
        padding-top: 16px;
    }
    .section.banner-carousel-wrapper > .breadcrumb-wrapper > .breadcrumb.block > nav > a{
        font-size: 12px;
        line-height: 16px;
    }
    .section.banner-carousel-wrapper > .breadcrumb-wrapper > .breadcrumb.block > nav > a:last-child{
        font-size: 12px;
        line-height: 16px;
    }
}