 /* disclaimer below loan calculator */
 .section.home-page-calculator-call-xf .discalimer-details{
    padding-bottom: 48px;
  }
  .section.home-page-calculator-call-xf .discalimer-details .discalimer-calc{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
  }
  .section.home-page-calculator-call-xf .discalimer-details .discalimer-calc .read-more-discalimer-calc{
    color: #f26841;
    cursor: pointer;
    background: unset;
    padding-left: 0px;
    margin: unset;
    font-family: Nunito-Regular, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.4px;
    text-decoration: none;
  }
  .section.home-page-calculator-call-xf .discalimer-calc .title{
    display: block;
    font-family: Nunito-Bold, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 8px;
    padding-top: 16px;
  }
  .section.home-page-calculator-call-xf .discalimer-calc .discalimer-first-para{
    display: inline-block;
    font-family: Nunito-Regular, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.4px;
  }
  .section.home-page-calculator-call-xf .discalimer-second-para{
    display: inline-block;
    font-family: Nunito-Regular, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.4px;
    margin-top: 20px;
  }
  .section.home-page-calculator-call-xf .discalimer-thrid-para{
    display: inline-block;
    font-family: Nunito-Regular, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 20.4px;
  }
  @media screen and (max-width:767px) {
    .section.home-page-calculator-call-xf .discalimer-calc .discalimer-first-para{
        font-size: 12px;
        line-height: 16px;
    }
    .section.home-page-calculator-call-xf .discalimer-second-para{
        font-size: 12px;
        line-height: 16px;
        margin-top: 10px;
    }
    .section.home-page-calculator-call-xf .discalimer-thrid-para{
        font-size: 12px;
        line-height: 16px;
        margin-top: 10px;
    }
    .section.home-page-calculator-call-xf .discalimer-calc .title{
        font-size: 16px;
        padding-top: 8px;
    }
    .section.home-page-calculator-call-xf .discalimer-details .discalimer-calc{
        padding: 0 16px;
    }
    .section.home-page-calculator-call-xf .discalimer-details .discalimer-calc .read-more-discalimer-calc{
        font-size: 12px;
        line-height: 16px;
        padding: unset;
    }
  }