.section.career-social-cards{
    display: flex;
    gap: 24px;
    max-width: 1240px !important;
    margin: 0 auto !important;
    padding: unset;
}
.section.career-social-cards .teaser-wrapper .teaser .background{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    column-gap: 24px;
}
.section.career-social-cards .teaser-wrapper,.wrappercreation-wrapper{
    background-color: #fff4e7;
    border-radius: 24px;
    width: 50%;
}
.section.career-social-cards .wrapper-creation-container{
    align-items: center;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}
.section.career-social-cards .imgwithlink-wrapper{
    height: 62px;
    display: inline-flex;
    align-items: center;
    margin: 0 12px;
}
.section.career-social-cards .teaser-wrapper{
    padding: 32px;
}
.section.career-social-cards .teaser-wrapper .teaser .background .front-picture picture img{
    width: 62px;
    height: 62px;
}
.section.career-social-cards .foreground .text .title #have-questions-get-in-touch-with-us{
    color: #666;
    font-family: Nunito-Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}
.section.career-social-cards .teaser-wrapper .teaser .background .foreground .text .long-description h2{
    color: #333;
    font-family: Nunito-Bold, sans-serif;
    font-size: 20px;
    line-height: 28px;
}
.section.career-social-cards .default-content-wrapper{
    flex: 2;
}
.section.career-social-cards .imgwithlink .image-href-desktop a picture img{
    height: 32px;
}
.section.career-social-cards .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .default-content-wrapper p{
    color: #666;
    font-family: Nunito-Regular, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

@media screen (min-width:767px) and (max-width:1024px) {
    .section.career-social-cards{
        flex-direction: column;
        padding: 0 16px;
    }
    .section.career-social-cards .teaser-wrapper, .wrappercreation-wrapper{
        width: 100%;
    }
    .section.career-social-cards .teaser-wrapper{
        padding: 16px;
    }
    .section.career-social-cards .teaser-wrapper .teaser .background{
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
    }
    .section.career-social-cards .wrapper-creation-container{
        padding: 16px;
        display: inline-block;
    }
    .section.career-social-cards .section.page-container{
        padding: unset;
    }
    .wrappercreation-wrapper{
        padding: 16px 16px;
    }
}

/* @media screen and (max-width:1024px) {
    .section.career-social-cards{
        padding: 0 16px;
    }
} */